%container {
    margin: 0 auto;
    width: 80%;
}

%d-flex-jc-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%second-title {
    color: $button-text-color;
    font-size: 36px;
    line-height: 64px;
    font-weight: 300;
}