$second-text: #9093A6;
$logo-font: "Kanit", sans-serif;
$main-font: "Roboto", sans-serif;
$yellow-bright: #FFE145;
$black-color: #000000;
$border-color: #D4D7E5;
$yellow-border: 1px solid $yellow-bright;
$button-text-color: #3F4255;
$header-color: #121232;