.navigation, .main-banner, .banner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons-container .nav-button, .yellow-border-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  font-family: "Martel Sans", sans-serif;
}

.logo-container {
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.logo-container a {
  color: #000000;
}

.logo-container .yellow-text {
  position: relative;
}

.logo-container .yellow-text::after {
  content: '';
  display: block;
  width: 63px;
  height: 13px;
  background-color: #FFE145;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.buttons-container .nav-button {
  font-size: 14px;
  color: #9093A6;
  font-weight: 700;
}

.buttons-container .menu-icon-button {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.buttons-container .menu-icon-button:hover {
  -webkit-box-shadow: #b79c10 0px 3px 8px;
          box-shadow: #b79c10 0px 3px 8px;
  color: #FFE145;
  -webkit-transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.buttons-container .menu-icon-button svg {
  width: 20px;
  height: 20px;
}

.navigation, .main-banner {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .navigation, .main-banner {
    padding: 10px 30px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation, .main-banner {
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
  }
}

.main-header {
  border-bottom: 1px solid #D4D7E5;
}

.main-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-banner h1 {
  font-size: 20px;
  color: #121232;
  letter-spacing: 5px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 768px) {
  .main-banner h1 {
    font-size: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .main-banner h1 {
    font-size: 56px;
    margin-bottom: 40px;
    font-weight: 300;
  }
}

.main-banner .image-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.main-banner .text-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.yellow-border-btn {
  padding: 0 5px;
  border: 1px solid #FFE145;
  background-color: transparent;
  border-radius: 4px;
  color: #3F4255;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}

.yellow-border-btn span {
  font-size: 12px;
}

.yellow-border-btn span:first-child {
  font-size: 13px;
  font-weight: 700;
}

.banner-buttons {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
}
/*# sourceMappingURL=mobile-styles.css.map */