$second-text: #9093A6;
$logo-font: "Kanit", sans-serif;
$main-font: "Martel Sans", sans-serif;
$secondary-font:"Poppins",  sans-serif;
$yellow-bright: #FFE145;
$black-color: #000000;
$border-color: #D4D7E5;
$yellow-border: 1px solid $yellow-bright;
$button-text-color: #3F4255;
$header-color: #121232;
$grey-bg: #F2F4FA;
$white: #fff;
$dark-yellow: #b79c10;
$menu-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$yellow-shadow: rgba(183, 156, 16, 1) 0px 3px 8px;

$tablet-min-width: 768px;

$desktop-min-width:1200px;
