.main-header .navigation, .main-banner, .restaurant-list, .form-section, .map {
  margin: 0 auto;
  width: 80%;
}

.main-header .navigation, .main-banner, .main-banner .banner-buttons, .list-container ul, .restaurant-list .title-container, .form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header .navigation .buttons-container .nav-button, .list-container ul li, .yellow-border-btn, .form-section form, .yellow-bg-button, .yellow-bg-button:hover, .map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  color: #3F4255;
  font-size: 36px;
  line-height: 64px;
  font-weight: 300;
}

body {
  font-family: "Martel Sans", sans-serif;
}

.main-header {
  border-bottom: 1px solid #D4D7E5;
}

.main-header .navigation {
  padding: 10px 0;
}

.main-header .navigation .logo-container {
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.main-header .navigation .logo-container a {
  color: #000000;
}

.main-header .navigation .logo-container .yellow-text {
  position: relative;
}

.main-header .navigation .logo-container .yellow-text::after {
  content: '';
  display: block;
  width: 63px;
  height: 13px;
  background-color: #FFE145;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.main-header .navigation .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.main-header .navigation .buttons-container .nav-button {
  font-size: 14px;
  color: #9093A6;
  font-weight: 700;
}

.main-header .navigation .buttons-container .menu-icon-button {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-header .navigation .buttons-container .menu-icon-button:hover {
  -webkit-box-shadow: #b79c10 0px 3px 8px;
          box-shadow: #b79c10 0px 3px 8px;
  color: #FFE145;
  -webkit-transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-banner {
  position: relative;
}

.main-banner .banner-buttons {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
}

.main-banner h1 {
  font-size: 58px;
  color: #121232;
  letter-spacing: 5px;
  font-weight: 300;
  margin-bottom: 40px;
}

.list-container {
  width: 60%;
  padding: 1% 1% 1% 10%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  bottom: 25%;
}

.list-container ul li {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  gap: 10px;
}

.list-container ul li span {
  font-size: 14px;
  color: #3F4255;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.list-container ul li img {
  -webkit-transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.list-container ul li img:hover {
  -webkit-transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.yellow-border-btn {
  border: 1px solid #FFE145;
  background-color: transparent;
  border-radius: 4px;
  color: #3F4255;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}

.yellow-border-btn span {
  font-size: 12px;
}

.yellow-border-btn span:first-child {
  font-size: 16px;
  font-weight: 700;
}

.restaurant-list {
  padding: 40px 0;
}

.restaurant-list .restaurant-item {
  -webkit-transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.restaurant-list .restaurant-item:hover {
  -webkit-transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.grey-bg {
  background-color: #F2F4FA;
}

.form-section {
  padding: 40px 0;
  color: #3F4255;
}

.form-section p {
  font-size: 16px;
}

.form-section form {
  position: relative;
  gap: 5px;
}

.form-section .input {
  -webkit-box-shadow: 0px 8px 40px 0px #00000014;
          box-shadow: 0px 8px 40px 0px #00000014;
  height: 72px;
  width: 336px;
  padding: 0 15px 0 50px;
  background-color: #fff;
  color: #9093A6;
}

.form-section .input::-webkit-input-placeholder {
  font-family: "Martel Sans", sans-serif;
  color: #9093A6;
}

.form-section .input:-ms-input-placeholder {
  font-family: "Martel Sans", sans-serif;
  color: #9093A6;
}

.form-section .input::-ms-input-placeholder {
  font-family: "Martel Sans", sans-serif;
  color: #9093A6;
}

.form-section .input::placeholder {
  font-family: "Martel Sans", sans-serif;
  color: #9093A6;
}

.form-section .icon-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 15px;
  -webkit-transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.form-section .icon-container:hover {
  color: #FFE145;
  -webkit-transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.yellow-bg-button {
  border: none;
  background-color: #FFE145;
  border-radius: 4px;
  color: #3F4255;
  width: 88px;
  height: 72px;
  color: #b79c10;
  -webkit-transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.yellow-bg-button:hover {
  border: 1px solid #FFE145;
  background-color: #fff;
  border-radius: 4px;
  color: #3F4255;
  -webkit-transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #3F4255;
}

.icon {
  width: 20px;
}

.map-icon {
  width: 30px;
  color: red;
}

.map {
  padding: 40px 0;
}

.map .map-container {
  width: 100%;
  height: 700px;
}
/*# sourceMappingURL=main.css.map */